{% extends 'learning_logs/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'learning_logs/styles.css' %}">
{% block page_header %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Topics</li>
  </ol>
</nav>
<h1>Topics</h1>
<br>
<div>
    <a class="newpost" href="{% url 'learning_logs:new_topic' %}">Add a new Post</a>
</div>
<br>
{% endblock page_header %}

{% block content %}
<div>
<ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in topics %}
    <li class="list-group-item border-0">
        <div class="post-name">
        <a href="{% url 'learning_logs:topic' topic.id%}">
            {{ topic.text }}</a>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item border-0">No posts added yet.</li>
    {% endfor %}
</ul>
</div>
<br>
<a class="backbutton" href="/">Go Back</a>
{% endblock content %}
